/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #260129, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
   background: linear-gradient(135deg, #260129, #764ba2);
  width: 90%;
  max-width: 900px;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Heading */
h1 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 2.5rem;
}


.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}


input {
  padding: 12px 15px;
  width: 350px;
  border-radius: 10px;
  margin: 20px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff6b6b, #680d2d);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


h2 {
  margin-top: 25px;
  color: #fff;
}


.card-container {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 20px;
  margin-top: 30px;
}


.card {
  width: 300px;
  background: rgba(77, 6, 6, 0.484);
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
}


.card p {
  margin-top: 10px;
  line-height: 1.5;
}


.example {
  font-style: italic;
  color: #ddd;
}


audio {
  margin-top: 15px;
}


@media (max-width: 600px) {
  .search-box {
    flex-direction: column;
  }

  input, button {
    width: 100%;
  }
}